@{
	Layout = "_Layout";
}

@using Library.ViewModels

@model RegisterViewModel

<h2 id="title">Register a new user</h2>

<hr />

@using (Html.BeginForm("Register", "Account"))
{
	@Html.LabelFor(model => model.Email)
	@Html.TextBoxFor(model=> model.Email)

	@Html.LabelFor(model => model.Password)
	@Html.PasswordFor(model=> model.Password)

	@Html.LabelFor(model => model.ConfirmPassword)
	@Html.PasswordFor(model => model.ConfirmPassword)

	<input type="submit" value="Register" />
}

<hr />

<p>
	@Html.ActionLink("Login page", "Index")
	|
	@Html.ActionLink("Sign in", "Login")
	<br>
	@Html.ActionLink("Home", "Index", "Home")
</p>